body.dark-mode {
    background-color: #333;
    color: white;
}

nav{
    border-radius:2px;
}

.bg-image{
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg');
    overflow: hidden;
}

    
.ramesh{
    color: aqua;
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size:50px;
}

.about{
    margin-top: 50px;

}

.line{
    height: 5px;
    width: 100px; /* Adjust the height as needed */
    background-color:rgb(155, 255, 6); /* Adjust the color as needed */
    border: none; 
    transform: rotate(90deg);

}
@media(max-width:575px){
.line{transform: rotate(0deg);}
}

.text{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size:larger;
}

.r{
    font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
    font-size: 50px;
}

.r:hover{
    background-color: aqua;
    border-radius: 50PX;
    width:300px;
}


hr.rounded {
border-top: 4px solid #bbb;
border-radius: 5px;
}

.text:hover{
    
}

@media (max-width: 575px) {
    .order-first-sm {
        order: -1 !important;
    }

    .order-sm-last {
        order: 2 !important;
    }
}

.a{
    color: purple;
}