body.dark-mode {
    background-color: #333;
    color: white;
}

nav{
    border-radius:2px;
}

.bg-image{
    height:auto;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/1169754/pexels-photo-1169754.jpeg');
    overflow: hidden;
}

    
.ramesh{
    color: aqua;
}

.about{
    background-color: qua;
    margin-top: 50px;
}

.line{
   margin-top:100px ;
    height: 5px;
    width: 100px; /* Adjust the height as needed */
    background-color: #000; /* Adjust the color as needed */
    border: none; 
    transform: rotate(90deg);

}
@media(max-width:575px){
.line{transform: rotate(0deg);}
}



