.e{
    color:black ;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

body.dark-mode {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    color:#000000;
}

.navbar{
    padding-left:2% !important;background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: rgba(200, 0, 255, 0.65);
}

.nav-link{
    font-size: 16px !important;
    font-weight:600 !important;  
}
.nav-link:hover{
color: #1adbd1 !important;
border-radius: 50%;
text-decoration: underline;

}

.navbar-nav{
    padding-right: 2% !important;
}

.button{
    padding: 3%;
    font-size:25px;
    text-decoration:underline !important;
    color: purple;
}

.button:hover{
transform: scale(1.2);
}




.bg-image{
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4158D0;
    background-color: #D9AFD9;
    background-color: #00DBDE;
    background-color: #08AEEA;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
            
        overflow: hidden;
}

    
.ramesh{
    font-size:50px;
    padding-top: 50%;

    font-family: Arial, Helvetica, sans-serif; 
    background: linear-gradient(to right, #f32170,  #ff6b08, #cf23cf, #eedd44); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.about{
    margin-top: 50px;
    

}

.line{
    height: 5px;
    width: 100px; /* Adjust the height as needed */
    background-color:rgb(155, 255, 6); /* Adjust the color as needed */
    border: none; 
    transform: rotate(90deg);

}
@media(max-width:575px){
.line{transform: rotate(0deg);}
}

.text{
    font-family:serif;
    font-size:larger;
}

.r{
    font-family:"times new roman";
    font-size: 28px;
    color: #6106ff;;
}

.r:hover{
    color: rgb(59, 5, 255);
    transform: scale(1.3);

   
}


hr.rounded {
border-top: 4px solid #bbb;
border-radius: 5px;
}

.text:hover{
    
}

@media (max-width: 575px) {
    .order-first-sm {
        order: -1 !important;
    }

    .order-sm-last {
        order: 2 !important;
    }
}

.a{
    color: 	#e33c66;
    font-family:sans-serif ;
    
}

.m{
    color: 	#e33c66;}




.padding{

padding:7% ;

}



                                              /* background images  */
.bi-1{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}        

.bi-2{ 
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}  


.bi-3{ background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
} 